<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869437902166-cc64s142cclbhc2s0n20259qbv03r4sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869437902166-cc64s142cclbhc2s0n20259qbv03r4sj</string>
	<key>API_KEY</key>
	<string>AIzaSyCdO52nntiyXlt2Cy0GUzZAd9ikkJa5hZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>869437902166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLabFirebas</string>
	<key>PROJECT_ID</key>
	<string>flutterlab-firebase-7ed5e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlab-firebase-7ed5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869437902166:ios:11bc0a306726f254c05af7</string>
</dict>
</plist>